.composition {
    position: relative;
    

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .6);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: 1rem;

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
        }

        &--p1 {
            left: 0;
            top: -2rem;
            @include respond(tab-port){
                left: 0;
                top: 0rem;
                transform: translate(1.2)
            }
        }
        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port){
                left: -2rem;
                top: 0rem;
                transform: scale(1.3)
            }
        }
        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port){
                left: -1rem;
                top: 0rem;
                transform: scale(1.1)
            }
        }

        &:hover {
            outline: .5rem solid $color-primary-dark;
            transform: scale(1.1) translateY(5px);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .8);
            z-index: 20;

        }
       
    
    }
    &:hover &__photo:not(:hover){
        transform: scale(.85);
    }
}