.form {

    @include respond(tab-port) {
        width: 80%;         
      }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white,.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 80%;
        display: block;
        transition: all .8s;

        @include respond(tab-port) {
            background-color: rgba($color-white,.9);
               
         }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary-dark;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-primary ;
        }


        &::-webkit-input-placeholder{
            color: $color-gray-dark ;
        }



    }

    

    

    &__label{
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-input {
        display: none;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%; 
            margin-bottom: 2rem;           
         }
    }

    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;

        @include respond(tab-port) {
           color: white;          
         }
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid #69965c;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4 ;

        &::after {
            content: "";
            display: block;
            border-radius: 50%;
            height: 1.3rem;
            width: 1.3rem;
            position: absolute;
            left: 50%;
            top: 50% ;
            transform: translate(-50%,-50%);
            background-color: #69965c;
            opacity: 0;
            transition: all .3s;
        }
        
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}