.slider {
    position:relative;
    transition: all 0.5s;
}

.slider {
    position: absolute;
}



.btn-next {
    top: 45%;
    right: 2%;
  }


  .btn-prev {
    top: 10%;
    left: 80%;
    bottom: 20%;
  }